/* ==========================================
   General
========================================== */

.page__content {
    line-height: 1.8;
}

.page__content h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-bottom: .4rem;
    border-bottom: 2px solid #ececec;
}

/* ==========================================
   Mobile
========================================== */

@media (max-width:900px) {

    .research-grid {

        grid-template-columns: 1fr;

    }

}