<div class="gif-gallery">



    <figure class="gif-card">



        <img src="/images/highlights/patchclamp.png" data-hover="/images/highlights/patch.gif"
            alt="Whole-cell electrophysiology">



        <figcaption>

            Patch Clamp

        </figcaption>



    </figure>



    <figure class="gif-card">



        <img src="/images/highlights/fiberphotometry.png" data-hover="/images/highlights/photometry.gif"
            alt="Fiber photometry">



        <figcaption>

            Fiber Photometry

        </figcaption>



    </figure>



    <figure class="gif-card">



        <img src="/images/highlights/confocal.png" data-hover="/images/highlights/confocal.gif" alt="Confocal imaging">



        <figcaption>

            Microscopy

        </figcaption>



    </figure>



    <figure class="gif-card">



        <img src="/images/highlights/behavior.png" data-hover="/images/highlights/behavior.gif" alt="Behavior">



        <figcaption>

            Behavior Analysis

        </figcaption>



    </figure>



    <figure class="gif-card">



        <img src="/images/highlights/deeplabcut.png" data-hover="/images/highlights/deeplabcut.gif" alt="DeepLabCut">



        <figcaption>

            DeepLabCut Tracking

        </figcaption>



    </figure>



    <figure class="gif-card">



        <img src="/images/highlights/keypointmoseq.png" data-hover="/images/highlights/keypointmoseq.gif"
            alt="Keypoint MoSeq">



        <figcaption>

            Motion Sequence

        </figcaption>



    </figure>



</div>